* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.grid-container {
    background-color: grey;
    font-size: 0px;
    transition: transform 0.1s linear;
}

.cell {
    padding: 8px;
    background-color: rgb(230, 230, 230);
    display: inline-block;
}

.row {
    height: 16px;
}

button {
    display: block;
}

.shake-up {
    transform: translate(0, -40px);
}

.shake-down {
    transform: translate(0, 80px);
    transition: transform 0.2s ease-out;
}